@import "tailwindcss";

html {
  font-size: 1.25rem;
  height: 100%;

  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    user-select: none;

    button {
      background-color: ButtonFace;
      color: black;
      padding: .625rem;
      cursor: pointer;

      &:hover {
        filter: brightness(75%);
      }

      &:active {
        filter: brightness(50%);
      }
    }

    input[type="color"] {
      cursor: pointer;
    }
  }
}
